<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%; font-size: 14px; color: #484848; background-color: #ffffff;">
<head>
    <meta charset="UTF-8">
    <title>Welcome to CapitaStar@Work</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1">
    <%= javascript_include_tag "https://media-ssl.kuban.io/kade/static/lib/PIE.js", 'data-turbolinks-track' => true %>
</head>
<body style="width: 100%; height: 100%; font-size: 14px; color: #484848; background-color: #ffffff; margin: 0; padding: 0; font-weight: normal; font-family: 'Microsoft YaHei', sans-serif, Arial;">
<table style="width: 100%; table-layout: fixed">
    <tbody>
        <tr>
            <td></td>
            <td colspan="2">
                <div class="kb-container" style="-webkit-tap-highlight-color: rgba(255,255,255,0); margin-right: auto; margin-left: auto;height: 100%;">
                    <div class="kb-logo" align="center" style="-webkit-tap-highlight-color: rgba(255,255,255,0); padding: 30px 0; text-align: center;">
                        <img src="https://media-ssl.kuban.io/kade/static/images/capitastar_logo.png" style="-webkit-tap-highlight-color: rgba(255,255,255,0); height: 100px; display: inline-block;margin-left: auto;margin-right: auto" height="200" alt="Logo">
                    </div>
                    <div class="kb-content" style="-webkit-tap-highlight-color: rgba(255,255,255,0); background-color: #ffffff; border-top: 10px solid rgb(9, 23, 130); padding: 0 40px 40px 40px;">
                        <div class="kb-title" style="-webkit-tap-highlight-color: rgba(255,255,255,0); color: rgb(9, 23, 130); font-size: 22px; padding: 20px 0; font-weight: bold;">Welcome to CapitaStar@Work, <%= @resource.name %>!</div>
                        <div style="-webkit-tap-highlight-color: rgba(255,255,255,0);">
                            ﻿Thank you for signing up and we are thrilled to have you as a member! CapitaStar@Work is designed to connect you with your office community and enhance your experience at work.
                        </div>
                        <div style="-webkit-tap-highlight-color: rgba(255,255,255,0); font-size: 18px; color: #333; margin-top: 30px; font-weight: bold;">
                            ﻿What you can look forward to:
                        </div>
                        <div style="-webkit-tap-highlight-color: rgba(255,255,255,0); margin-top: 5px;">
                            <p style="margin: 0; padding: 0; font-weight: normal;">·﻿Access to exciting events and activities at Capital Tower</p>
                            <p style="margin: 0; padding: 0; font-weight: normal;">·﻿F&B, wellness and lifestyle discounts</p>
                            <p style="margin: 0; padding: 0; font-weight: normal;">·﻿And more…!</p>
                        </div>
                        <% if !@resource.register_from_app %>
                            <div style="-webkit-tap-highlight-color: rgba(255,255,255,0); margin-top: 30px;">
                                ﻿To access your account, please confirm your email address by clicking this button.
                            </div>
                            <div class="confirmBtn" style="-webkit-tap-highlight-color: rgba(255,255,255,0); margin-top: 30px; margin-bottom: 30px; text-align: center;">
                                    <% if @resource.space_member? %>
                                        <a href=<%= MailerHelper.front_end_url(:confirm_email, confirmation_token: @token) %>>
                                            <img src="https://media-ssl.kuban.io/kade/static/img/confirmEmail.png" />
                                        </a>
                                    <% else %>
                                        <a href=<%= MailerHelper.back_end_url(:confirm_email, confirmation_token: @token) %>>
                                            <img src="https://media-ssl.kuban.io/kade/static/img/confirmEmail.png" />
                                        </a>
                                    <% end %>
                            </div>
                        <% end %>
                        <div style="-webkit-tap-highlight-color: rgba(255,255,255,0);">﻿Regards, </div>
                        <div style="-webkit-tap-highlight-color: rgba(255,255,255,0);">﻿CapitaStar@Work team</div>
                    </div>
                    <table class="download-btns" width="100%" align="center" style="-webkit-tap-highlight-color: rgba(255,255,255,0); text-align: center; margin-top: 30px; margin-bottom: 30px; width: 100%;table-layout: fixed">
                        <tbody>
                        <tr>
                            <td>
                                <img src="https://media-ssl.kuban.io/kade/email/default.png" style="visibility: hidden;">
                            </td>
                            <td align="center" style="text-align: center" >
                                <a href="https://play.google.com/store/apps/details?id=io.kuban.client.kaide.singapore" class="google-play" >
                                    <img src="https://media-ssl.kuban.io/kade/static/images/Google%20Play%20Badge%20US.png" alt="Google Play">
                                </a>
                            </td>
                            <td align="center" style="text-align: center" >
                                <a href="https://itunes.apple.com/app/id1437379018" class="app-store" >
                                    <img src="https://media-ssl.kuban.io/kade/static/images/App%20Store%20Badge%20US%20Black.png" alt="App store">
                                </a>
                            </td>
                            <td>
                                <img src="https://media-ssl.kuban.io/kade/email/default.png" style="visibility: hidden;">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
<script>
    var u = navigator.userAgent;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端

    window.onload=function(){
        var googlePlay = document.querySelector('.google-play')
        var appStore = document.querySelector('.app-store')
        var rounded = document.querySelector('.rounded')

        if(isAndroid){
            appStore.style.display = 'none'
        }

        if(isiOS){
            googlePlay.style.display = 'none'
        }

        if (window.PIE) {
            rounded.each(function() {
                PIE.attach(this);
            });
        }
    }
</script>
</body>
</html>